<template>
  <div class="home">
    <h2 v-if="isAuth">Я авторизован</h2>
  </div>
</template>

<script>

import AUTH from '../components/auth';

export default {
  name: 'home',
	components: {

	},
	data () {
		return {

		}
	},
  computed: {
    isAuth: function () {
       return AUTH.isAuth();
    }
  }
}
</script>